<a href="https://colab.research.google.com/github/KHarikaReddy/Shiva/blob/main/FUNCTIONS_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
def sum_list(numbers):
    return sum(numbers)

print(sum_list([8, 2, 3, 0, 7]))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

print(multiply_list([8, 2, 3, -1, 7]))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("1234abcd"))

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120

5) Write a Python function to check whether a number falls within a given range.

In [5]:
def is_in_range(num, start, end):
    return start <= num <= end

print(is_in_range(5, 1, 10))
print(is_in_range(15, 1, 10))

True
False